mat-form-field {
    font-family: 'Montserrat';
    width: 100%;
}
.form {
    width: 99%;
    padding-left: 1rem;
}
.buttons {
    text-align: center;
}
.file-input{
    width: 20%;
    padding-left: 1em;
}
.file-group{
    display:flex;
}