<ion-content color="medium">
  <ion-row style="display: flex;justify-content: center;">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-sm="12" size-md="12" size-lg="12">
            <h2>Meus Anuncios</h2>
          </ion-col>
          <ion-col size="12" size-sm="12" size-md="12" size-lg="12">
            <ion-list>
              <ion-item>
                <ion-thumbnail slot="start">
                  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
                </ion-thumbnail>
                <ion-label>
                  <h2>Móvel Boladão</h2>
                  <p>Excluir</p>
                </ion-label>
                <ion-button fill="outline" slot="end">Editar<ion-icon name="eye" slot="end"></ion-icon>
                </ion-button>
                <ion-button fill="outline" slot="end" color="danger">Excluir<ion-icon name="trash" slot="end">
                  </ion-icon>
                </ion-button>
              </ion-item>
              <ion-item>
                <ion-thumbnail slot="start">
                  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
                </ion-thumbnail>
                <ion-label>
                  <h2>Móvel Boladão</h2>
                  <p>Excluir</p>
                </ion-label>
                <ion-button fill="outline" slot="end">Editar<ion-icon name="eye" slot="end"></ion-icon>
                </ion-button>
                <ion-button fill="outline" slot="end" color="danger">Excluir<ion-icon name="trash" slot="end">
                  </ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-row>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary"  routerLink="/new">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
