<ion-app>
  <ion-split-pane disabled contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-avatar>
            <img src="./assets/images/logo.png">
          </ion-avatar>
          <ion-list-header>
            Jhonatan Eduardo Rampim
          </ion-list-header>
        </ion-list>
        <ion-list id="content-list">
          <ion-item lines="none">
            <ion-icon slot="start" name="home-outline"></ion-icon>
            <ion-label>Tela Inicial</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
      <ion-footer>
        <ion-list id="logout">
          <ion-item button lines="none">
            <ion-icon slot="start" name="exit-outline"></ion-icon>
            <ion-label>Sair</ion-label>
          </ion-item>
        </ion-list>
        <ion-toolbar style="display: flex; text-align: center; font-size: small">
          <ion-label> Desenvolvido com <b>♥</b> pelo DTI</ion-label>
          <br />
          <ion-label>v 1</ion-label>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
