<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-row class="ion-align-items-center">
    <ion-col size="12">
      <ion-card>
        <ion-card-header>
          <h2>{{movel.title}}</h2>
          <p>Publicado em: {{movel.createdAt | date: 'dd/MM/yyyy'}}</p>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <gallery [items]="images" thumbPosition="right"></gallery>
              </ion-col>
            </ion-row>
            <h2>Detalhes</h2>
            <hr />
            <ion-row>
              <ion-col size="12">
                <p style="text-align:left;">
                  {{movel.description}}
                </p>
              </ion-col>
              <ion-col size="12">
                <ion-chip outline *ngFor="let estado of movel.estado" color="primary">
                  <ion-label>{{estado}}</ion-label>
                </ion-chip>
              </ion-col>
            </ion-row>
            <h2>Local</h2>
            <hr />
            <ion-row>
              <ion-col size="12">
                <ion-chip outline color="secondary">
                  <ion-label>{{movel.address.city}}</ion-label>
                </ion-chip>
                <ion-chip outline color="secondary">
                  <ion-label>{{movel.address.state}}</ion-label>
                </ion-chip>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon name="chatbubble-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
