::ng-deep gallery {
  background-color: #fff !important;
}

::ng-deep g-nav-prev {
  background-color: #000000 !important;
}

hr {
  background-color: #b3b3b3;
  margin-bottom: 35px;
}

mat-form-field {
  font-family: 'Montserrat';
  width: 100%;
}

.buttons {
  text-align: center;
}