<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-row class="ion-align-items-center">
    <ion-col size="12">
      <ion-card>
        <ion-card-header>
          <h2>{{movel ? movel.name : ""}}</h2>
          <p>Publicado em: {{ (movel) ? (movel.created_at | date: 'dd/MM/yyyy') : ""}}</p>
          <p>Por: {{ (movel) ? (movel.user.name) : ""}}</p>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="12" *ngIf="movel">
                <gallery [items]="images" thumbPosition="bottom"></gallery>
              </ion-col>
            </ion-row>
            <div class="detalhes" *ngIf="movel">
              <h2>Detalhes</h2>
              <hr />
              <ion-row>
                <ion-col size="12">
                  <p style="text-align:left;white-space: pre-line;">
                    {{(movel) ? movel.description: ""}}
                  </p>
                </ion-col>
                <ion-col size="12" *ngIf="movel">
                  <ion-chip outline *ngFor="let estado of movel.estado" color="primary">
                    <ion-label>{{estado}}</ion-label>
                  </ion-chip>
                </ion-col>
                <ion-col size="12" *ngIf="movel">
                  <ul>
                    <li *ngIf="movel.width"> Largura: {{(movel) ? movel.width: ""}}cm</li>
                    <li *ngIf="movel.height">Altura: {{(movel) ? movel.height: ""}}cm</li>
                    <li *ngIf="movel.length">Comprimento(Profundidade): {{(movel) ? movel.length: ""}}cm</li>
                  </ul>
                </ion-col>
              </ion-row>
            </div>
            <div class="local" *ngIf="movel && movel.address">
              <h2>Local</h2>
              <hr />
              <ion-row>
                <ion-col size="12">
                  <ion-chip outline color="secondary">
                    <ion-label>{{movel.address.city}}</ion-label>
                  </ion-chip>
                  <ion-chip outline color="secondary">
                    <ion-label>{{movel.address.state}}</ion-label>
                  </ion-chip>
                </ion-col>
              </ion-row>
            </div>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <!-- Use a trigger -->
  <ion-modal [isOpen]="isOpen">
    <ng-template>
      <ion-content color="medium">
        <ion-header>
          <ion-toolbar color="secondary">
            <ion-buttons slot="end">
              <ion-button (click)="closeModal()">Fechar <ion-icon slot="end" name="close-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-title *ngIf="!movelData">Novo Móvel</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-card>
          <ion-card-header>
            Enviar mesagem para {{movel.user.name}}
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <form [formGroup]="chatForm" (ngSubmit)="onSubmit()" novalidate>
                <ion-row>
                  <ion-col size="12">
                    <mat-form-field appearance="standard">
                      <mat-label>Mensagem:</mat-label>
                      <input matInput formControlName="message" placeholder="Digite sua mensagem" />
                    </mat-form-field>
                  </ion-col>
                </ion-row>
                <div class="buttons">
                  <ion-button type="submit" color="secondary" fill="outline">Enviar</ion-button>
                  <ion-button (click)="closeModal()" color="backbutton" fill="outline">Voltar</ion-button>
                </div>
              </form>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-fab *ngIf="movel && (movel.usuario_id !== user.id)" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createChat(movel.usuario_id)" color="secondary">
      <ion-icon name="chatbubble-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>