<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="light">
      <ion-tab-button tab="consulta-anuncios" selected="true">
        <ion-icon name="add"></ion-icon>
        <ion-label>Novos Anúncios</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="speakers">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Meus Anúncios</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink="/new">
        <ion-icon name="add"></ion-icon>
        <ion-route url="/new" component="new-announce"></ion-route>
      </ion-fab-button>
    </ion-fab>
  </ion-tabs>
</ion-content>
