<ion-content color="medium">
  <ion-searchbar *ngIf="showSearchBar" showClearButton="true" animated placeholder="Buscar móveis"></ion-searchbar>
  <div *ngIf="moveis.length === 0" style="display: flex;justify-content: center;">
    <p>Nenhum Anúncio encotrado!</p>
  </div>
  <ion-row *ngFor="let movel of moveis" style="display: flex;justify-content: center;">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col class="col-image" size="12" size-sm="12" size-md="6" size-lg="6">
            <img src={{apiLink+movel.foto[0].path}} />
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-col>
                <h2>{{movel.name}}</h2>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="text-align: right;">
                <p>Publicado em: {{movel.created_at | date: 'dd/MM/yyyy'}}</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-text style="text-align: justify;">
                {{movel.description}}
              </ion-text>
            </ion-row>
            <ion-row>
              <ion-button shape="round" fill="outline" (click)="verDetalhes(movel.id)">Saber Mais</ion-button>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-row>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="enableSearchBar()" color="secondary">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
