ion-col img {
  object-fit: cover;
  height: 100%;
  width: 256px !important;
  border: 0;
  padding: 0;
  background-color: grey;
  margin: auto;
}

mat-form-field {
  font-family: 'Montserrat';
  width: 100%;
}

ion-card {
  width: 70%;
}


@media only screen and (max-width: 767px) {

  ion-card {
    width: 100%;
  }

  .col-image {
    text-align: center;
  }
}

::ng-deep .mat-form-field {
  .mat-form-field-underline {
    background-color: var(--ion-color-secondary);
  }

  .mat-form-field-ripple {
    background-color: var(--ion-color-secondary);
  }

  .mat-form-field-required-marker {
    color: var(--ion-color-secondary);
  }
}

::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
    color: var(--ion-color-secondary);
  }

  .mat-form-field-ripple {
    background-color: var(--ion-color-secondary);
  }

  .mat-form-field-required-marker {
    color: var(--ion-color-secondary);
  }
}
